/*Type your css here*/
#linechart{
  background-color: #ffffff;
  position:absolute;
  left:-2%;
  top:2%;
  height:90%;
  width:100%;
  font-family: Lato, Helvetica-Neue, monospace;
}
.ct-grids line{
  stroke: #E3E3E3;
  stroke-opacity: 0.5;
}
.ct-line{
 stroke-width: 2px;
}

.ct-grids line{
  stroke: #E3E3E3;
  stroke-opacity: 0.5;
}
.ct-series-a .ct-line{
  stroke: #003E75;
}
.ct-series-a .ct-area{
fill: url(#gradient) !important;
}

.ct-series-a .ct-point{
  stroke: #003E75;
}

.ct-label.ct-label.ct-horizontal {
  padding-top: 15px;
  text-align: right;
  white-space: nowrap;
}

.ct-label.ct-label.ct-vertical {
  padding-left: 3px;
  text-align: left;
  justify-content: flex-start;
}
.ct-label{
  color: #A0A0A0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.ct-point {
  stroke-width: 0px;
  stroke-opacity: 0.5;
  transition: all 0.2s linear;
}

.vertical-line
{
	  stroke: #003E75;
}

.tooltip-text1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: rgba(112, 112, 112, 1);
	height: 25px;
    padding: 5px !important;
	line-height: 18pt;
}

.tooltip-text2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(54, 77, 58, 1);
	height: 25px;
    padding: 5px !important;
	line-height: 18pt;
}

.tooltip-text3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: rgba(0, 189, 32, 1);
	height: 25px;
    padding: 5px !important;
	line-height: 18pt;
}
.tooltip-text4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #EE0005;
  height: 25px;
    padding: 5px !important;
  line-height: 18pt;
}